<div>
  <form id="formChat">
    <label class="lblMessage">MENSAJE CHAT</label>
    <input id="inputMessage" placeholder="ingrese el mensaje" type="text" required> 
    <input id type="submit" value="enviar">
  </form>
     <ul id="container_messages"></ul>




</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>