
<h1 class="text-center my-1">PRODUCTOS REAL TIME 🔛</h1>
<hr>
 <div id="card-products"class="d-flex flex-row justify-content-center flex-wrap align-content-center">
 </div>





<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/realTimeProducts.js"></script>